/* anatomia do css */

body{
    background-color: rgba(179, 130, 186, 36%);
    font-family:'Montserrat', sans-serif;
}
.conteudo{
    width: 100%;
}
.cabecalho{
    text-align: center;
}

.container{
    margin: 0 auto;
    margin-top:50px;
    width: 72%;
    
}
.container__conteudo, .container__ilustracao{
    display: inline-block;
    margin: 0 20px;
    width: 40%;
    vertical-align: middle;
}
.conteudo__btn--roxo{
    background-color: #972d85;
    padding: 20px;
    border: 1px solid #972d85;
    border-radius: 3px;
    color:white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.conteudo__btn--transparente{
    background-color:transparent;
    padding: 20px;
    border: 1px solid #972d85;
    color: #972d85;
    border-radius:3px;
    font-size: 16px;
    /* width: 135px; */
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.cabecalho__titulo{
    color: #972d85;
    font-weight: bold;
}


.cabecalho__subtitulo{
    font-size: 24px;
    font-weight: bold;
}

.conteudo__subtitulo{
    font-size: 24px;
    margin: 10px 0;
   

}
.ilustracao__gif{
    border-radius:3px;
    width: 300px;
      
}

@media (max-width: 768px){
    .conteudo{
        display: flex;
        flex-wrap: wrap;
        
    }
    .container__ilustracao{
        padding: 20px;
        margin: 0;
    }
    .conteudo { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    } 
    .botao{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    
    }
}

@media (max-width: 420px){
    .conteudo{
        display: flex;
        align-items: center;
    }
    .container__conteudo { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 100%;
    }
    .cabecalho{
        margin: 5%;
    }
    .container__ilustracao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .conteudo__subtitulo{
         
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
    }
     
}

