/* seletor universal *    */


body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
/* NAVEGAÇÃO */
.navegacao{
    align-items: center;
    height: 10%;
    display: flex;
    justify-content: space-between;
    
}
.conteudo{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    
}

.navegacao__menu{
    text-decoration: none;
    color: violet;
    font-weight: bold;
    text-transform: uppercase;
}
.navegacao__menu li{
    display: inline-block;
    margin: 0 20 0 0px;
    color: rgb(187, 63, 218);
    width: 100px;
}
.navegacao__menu li:hover{
    display: inline-block;
    margin: 0 20 0 0px;
    color: rgb(165, 31, 136);
}

.navegacao__logo{
    width: 160px;
    border-radius: 6px;
}



/* SECTION */

.conteudo__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 62.5%; 
    padding-top: 6%;


}
.conteudo__foto{
    width: 60%;
    border-radius: 50%;
    
}

.conteudo__artigo{
    width: 60%;
    
}
@media (max-width: 768px){
    .navegacao__menu{
        display: none;
    }
    .navegacao__logo{
        margin: 0 auto;
    }
   .conteudo__container{
       display: flex;
       justify-content: center;
       flex-direction: column;
   }
    
}















/* SECTION */
/* 
.conteudo{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.conteudo__perfil__nome{
    font-weight: bold;
}

.conteudo__perfil__foto{
    height: 200px;
    border-radius: 50%; 

}

.conteudo__artigo{
    width: 500px;
}